@tailwind base;
@tailwind components;
@tailwind utilities;

@media print {
  @page {
    margin: 0;
    size: A4;
  }
}

a:hover {
    background: radial-gradient(
        ellipse at bottom,
        #99f6e4,
        #93c5fd,
        #c4b5fd
    );
    text-shadow: -0.15em 0.15em 0.42em #fff, 0.15em -0.15em 0.31em #fff,
        -0.15em -0.15em 1.3em #fff;
    color: #000;
    transition: all 0.1s ease-in-out 0s;
}